@model Gysto.Models.director_medico

@{
    ViewBag.Title = "ModificarDirectorMedico";
}

<h2>ModificarDirectorMedico</h2>
<div class="contenedor">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>director_medico</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_director)

        <div class="form-group">
            @Html.LabelFor(model => model.maestria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.maestria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maestria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.matricula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.matricula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.matricula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
