@model Gysto.Models.Enfermero

@{
    ViewBag.Title = "PerfiUsuarioEnfermero";
}
<div class="contenedor">
<h2>PerfiUsuarioEnfermero</h2>

<div>
    <h4>Enfermero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_enfermero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_enfermero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("ModificarUsuario", "Usuario", new { id = User.Identity.Name})"> Editar  </a>  |
    @Html.ActionLink("Edit", "ModificarEnfermero", new { id = Model.id_enfermero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>